<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <!-- Barra lateral -->
    <div class="col-md-2">
      <app-sidebar (toggleUserListEvent)="showUserList = $event" 
      (toggleVehicleListEvent)="showVehicleList = $event"
      (toggleReservesListEvent)="showReserveList= $event"
      (togglePendantListEvent)="showPendantList = $event"
      (toggleToListAprovedEvent)="showAprovedList = $event">
      </app-sidebar>
    </div>
    <!-- Conteúdo principal -->
    <div class="col-md-10">
      <div class="content">

    <!-- Incluir o componente UserListComponent aqui -->
    <app-list-users *ngIf="showUserList"></app-list-users>
    
    <app-list-vehicles *ngIf="showVehicleList"></app-list-vehicles>

    <app-list-reserves *ngIf="showReserveList"></app-list-reserves>

    <app-list-pendants *ngIf="showPendantList"></app-list-pendants>

    <app-aprove-pendings *ngIf="showAprovedList"></app-aprove-pendings>
    
    <div *ngIf="!showUserList && !showVehicleList && !showReserveList && !showPendantList && !showAprovedList">
      <app-base-admin-dashboard></app-base-admin-dashboard>
    </div>
      </div>
    </div>
  </div>
</div>




