<div *ngIf="user" class="user-form">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="userName" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 2px;">Username:</label>
                <input [(ngModel)]="user.userName" name="userName" id="userName" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="password" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif; letter-spacing: 0px; margin-bottom: 2px;">Password:</label>
                <div class="input-group">
                    <input [(ngModel)]="user.password" name="password" id="password" type="password" readonly class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; cursor: not-allowed;">
                    <button style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; width: 144px; margin-left: 10px; text-align: center; " (click)="showChangePassword()" type="button" class="btn btn-primary">
                        <i class="bi bi-lock-fill" style="margin-right: 5px;"></i>
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; text-align: center;">Mudar Password</span>
                    </button>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <div class="form-group form-check" style="margin-top: 20px; margin-bottom: 10px;">
                    <input class="form-check-input" type="checkbox" id="isAdmin" [(ngModel)]="user.isAdmin" name="isAdmin" >
                    <label class="form-check-label" for="isAdmin" style="text-align: left; font: normal normal normal 12px/12px Open Sans, sans-serif;letter-spacing: 0px;">É Admin:</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px; position: relative;">
                <label for="group" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 2px;">Grupo:</label>
                <select [(ngModel)]="user.group" name="group" id="group" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px; padding-right: 30px;">
                    <option *ngFor="let group of groups" [value]="group">{{ group }}</option>
                </select>
                <i class="bi bi-caret-down-fill" style="position: absolute; right: 8px; top: calc(50% + 3px);"></i>
            </div>
            
            <div class="form-group" style="margin-bottom: 8px;" >
                <label for="userCode" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 2px;">Código De Utilizador:</label>
                <input [(ngModel)]="user.userCode" name="userCode" id="userCode" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="userInitials" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 2px;">Iniciais:</label>
                <input [(ngModel)]="user.userInitials" name="userInitials" id="userInitials" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>       
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <label for="fullName" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 2px;">Nome Completo:</label>
        <input [(ngModel)]="user.fullName" name="fullName" id="fullName" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="address" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 5px;">Morada:</label>
                <input [(ngModel)]="user.address" name="address" id="address" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="email" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 5px;">Email:</label>
                <input [(ngModel)]="user.email" name="email" id="email" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="postalCode" style="margin-bottom: 5px;" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 5px;">Código Postal:</label>
                <input [(ngModel)]="user.postalCode" name="postalCode" id="postalCode" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="phone" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 5px;">Telefone:</label>
                <input [(ngModel)]="user.phone" name="phone" id="phone" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 8px;">
        <label for="notes" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; margin-bottom: 5px;">Notas:</label>
        <textarea [(ngModel)]="user.notes" name="notes" id="notes" class="form-control" style="resize: none; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px;"></textarea>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6 text-center" style="margin-bottom: 10px;">
            <div class="row">
                <div class="d-flex">
                    <button (click)="updateUser(user)" *ngIf="user.userID" style="background: #337AB7; border-radius: 5px; width: 144px; height: 43px;">
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF;">Salvar</span>
                    </button>
                    <button (click)="showDeleteConfirmation()" *ngIf="user.userID" style="background: #337AB7; border-radius: 5px; width: 144px; height: 43px; margin-left: 18px;"> 
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF;">Apagar</span> 
                    </button>
                </div>
            </div>
            <div class="row text-left">
                <button (click)="createUser(user)" *ngIf="!user.userID" style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; width: 144px; height: 43px; margin-left: 10px;">
                <span style="text-align: left; font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF;">Guardar</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Popup de alteração de senha -->
    <div class="popup-background" *ngIf="isChangePasswordVisible">
        <div class="popup-content" style="width: 400px;">
            <h3 style="border-bottom: 2px solid #337AB7; padding-bottom: 15px; margin-bottom: 30px;"> <i class="bi bi-pencil-square"> </i> Alterar Password</h3>
            <div class="form-group">
                <label for="newPassword" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif; letter-spacing: 0px; margin-bottom: 2px;">Nova Password:</label>
                <div class="input-group">
                    <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; margin-left: 10px;" type="button" (click)="togglePasswordVisibility('newPassword')"><i class="bi bi-eye-fill" style="color: #FFFFFF;"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif; letter-spacing: 0px; margin-bottom: 2px; ">Re-introduza Password:</label>
                <div class="input-group">
                    <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; margin-left: 10px;" type="button" (click)="togglePasswordVisibility('confirmPassword')"><i class="bi bi-eye-fill" style="color: #FFFFFF;"></i></button>
                    </div>
                </div>
            </div>
            <div class="text-center" style="border-top: 2px solid #337AB7; padding-top: 15px; margin-top: 45px;">
                <button class="btn btn-primary" style="background-color: rgb(26, 123, 185); margin-right: 8px;" (click)="changePassword()">Guardar</button>
                <button class="btn btn-secondary" style="background-color: rgb(236, 71, 88);" (click)="cancelChangePassword()">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Popup de confirmação de sucesso -->
    <div class="popup-background sucess" *ngIf="isSuccessPopupVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #4CAF50; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;">Sucesso!</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <p style="color: #333;">O pedido foi submetido com sucesso.</p>
                <button class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;" (click)="closeSuccessPopup()">Fechar</button>
            </div>
        </div>
    </div>

    <!-- Popup de confirmação de exclusão -->
    <div class="popup-background" *ngIf="isDeleteConfirmationVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #337AB7; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;"> Tem a certeza que deseja eliminar?</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <button class="btn btn-danger" style="margin-right: 8px; background-color: #d9534f; border-color: #d43f3a;" (click)="deleteUser(user)">Sim</button>
                <button class="btn btn-secondary" style="background-color: #777; border-color: #555;" (click)="cancelDelete()">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="popup-background" *ngIf="isErrorPopupVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #dd0e0e; padding-bottom: 15px; margin-bottom: 20px; color: #dd0e0e; text-align: center;">Atenção!</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <p >{{ errorMessage }}</p>
                <button class="btn btn-primary" style="background-color: #dd0e0e; border-color: #dd0e0e;" (click)="closeErrorPopup()">Fechar</button>
            </div>
        </div>
    </div>

</div>
