<div *ngIf="user" class="user-form">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
            <h2>{{ user.fullName }}</h2>
        </div>
        <div class="col-md-6 text-right">
            <button (click)="updateUser(user)" *ngIf="user.userID" class="btn btn-primary">Atualizar</button>
            <button (click)="deleteUser(user)" *ngIf="user.userID" class="btn btn-danger">Apagar</button>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="userName">Nome:</label>
                <input [(ngModel)]="user.userName" name="userName" id="userName" class="form-control" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="userCode">Código de Utilizador:</label>
                <input [(ngModel)]="user.userCode" name="userCode" id="userCode" class="form-control" placeholder="Código">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input [(ngModel)]="user.email" name="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="userInitials">Iniciais:</label>
                <input [(ngModel)]="user.userInitials" name="userInitials" id="userInitials" class="form-control" placeholder="Iniciais">
            </div>
            <div class="form-group">
                <div class="form-group form-check" style="margin-top: 10px; margin-bottom: 10px;">
                    <input class="form-check-input" type="checkbox" id="isAdmin" [(ngModel)]="user.isAdmin" name="isAdmin">
                    <label class="form-check-label" for="isAdmin">É Admin</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="group">Grupo:</label>
                <input [(ngModel)]="user.group" name="group" id="group" class="form-control" placeholder="Grupo">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="Senha">
            </div>
            <div class="form-group">
                <label for="phone">Telefone:</label>
                <input [(ngModel)]="user.phone" name="phone" id="phone" class="form-control" placeholder="Telefone">
            </div>
            <div class="form-group">
                <label for="postalCode">Código Postal:</label>
                <input [(ngModel)]="user.postalCode" name="postalCode" id="postalCode" class="form-control" placeholder="Código Postal">
            </div>
            <div class="form-group form-check" style="margin-top: 10px; margin-bottom: 10px;">
                <input class="form-check-input" type="checkbox" id="canApproveReservations" [(ngModel)]="user.canApproveReservations" name="canApproveReservations">
                <label class="form-check-label" for="canApproveReservations">Pode Aprovar: </label>
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label for="fullName">Nome Completo:</label>
        <input [(ngModel)]="user.fullName" name="fullName" id="fullName" class="form-control" placeholder="Nome Completo">
    </div>
    <div class="form-group">
        <label for="address">Morada:</label>
        <input [(ngModel)]="user.address" name="address" id="address" class="form-control" placeholder="Morada">
    </div>
    <div class="form-group">
        <label for="notes">Notas:</label>
        <input [(ngModel)]="user.notes" name="notes" id="notes" class="form-control" placeholder="Notas">
    </div>

    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-md-6 text-center">
            <button (click)="createUser(user)" *ngIf="!user.userID" class="btn btn-success">Criar</button>
        </div>
    </div>
</div>
