<div *ngIf="_pending" style="font-family: 'Open Sans', sans-serif;">
        <div style="margin-left: 10px; margin-right: 10px;">
            <!-- Correção dos erros de binding -->
            
            <div class="form-group" style="margin-top: 10px;">
                <label style="text-align: left; font: normal normal 600 10px/14px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1; margin-top: 15px;" for="vehicleType">Tipo De Veículo:</label>
                <div class="select-wrapper" style="position: relative;">
                    <select [(ngModel)]="_pending.vehicleType" name="vehicleType" id="vehicleType" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px;" (change)="_pending.vehicleType && loadMatriculations(_pending.vehicleType)">
                        <option value="">Selecione um tipo</option>
                        <option *ngFor="let typeVehicle of vehicleType" [value]="typeVehicle">{{ typeVehicle }}</option>
                    </select>
                    <i class="bi bi-caret-down-fill" style="color: #337AB7; position: absolute; right: 10px; top: calc(50% - 8px);"></i>
                </div>
            </div>
            <div class="form-group">
                    <label for="matriculation" style="text-align: left; font: normal normal 600 10px/14px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1; margin-top: 15px;">Matrícula:</label>
                    <div class="select-wrapper" style="position: relative;">
                    <select [(ngModel)]="_pending.matriculation" name="matriculation" id="matriculation" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px;" (change)="updatePending()">
                        <option value="">Selecionar Matrícula</option>
                        <option *ngFor="let matriculation of matriculations" [value]="matriculation">{{ matriculation }}</option>
                    </select>
                    <i class="bi bi-caret-down-fill" style="color: #337AB7; position: absolute; right: 10px; top: calc(50% - 8px);"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="dateStart" class="mb-1" style="text-align: left; font: normal normal 600 10px/14px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1; margin-top: 15px;">Selecione a Data de Início da Reserva:</label>
                <input [(ngModel)]="_pending.dateStart" name="dateStart" id="dateStart" type="datetime-local" class="form-control" required #dateStartInput="ngModel"
                    [class.is-invalid]="dateStartInput.invalid && (dateStartInput.dirty || dateStartInput.touched) && !success">
                <div class="invalid-feedback" *ngIf="dateStartInput.invalid && (dateStartInput.dirty || dateStartInput.touched) && !success">
                    A data de início é obrigatória ou inválida.
                </div>
            </div>
            
            <div class="form-group">
                <label for="dateEnd" class="mb-1" style="text-align: left; font: normal normal 600 10px/14px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1; margin-top: 15px;">Selecione a Data de Fim da Reserva:</label>
                <input [(ngModel)]="_pending.dateEnd" name="dateEnd" id="dateEnd" type="datetime-local" class="form-control" [min]="_pending.dateStart" required #dateEndInput="ngModel"
                    [class.is-invalid]="dateEndInput.invalid && (dateEndInput.dirty || dateEndInput.touched) && !success">
                <div class="invalid-feedback" *ngIf="dateEndInput.invalid && (dateEndInput.dirty || dateEndInput.touched) && !success">
                    {{ dateEndInput.errors && dateEndInput.errors['min'] ? 'A data de fim deve ser superior à data de início.' : 'A data de fim é obrigatória ou inválida.' }}
                </div>
            </div>

            <div class="form-group" >
                <label for="description" style="text-align: left; font: normal normal 600 10px/14px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1; margin-top: 15px;">Motivo Da Reserva:</label>
                <textarea [(ngModel)]="_pending.description" name="description" id="description" class="form-control" style="resize: none; height: 107px; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px;"></textarea>
            </div>

            <div class="text-center" style=" margin-top: 50px;"> <!-- Adicionando a classe text-center para centralizar o botão -->
                <button (click)="createPending(_pending)" style="margin-bottom: 50px; background: #337AB7 0% 0% no-repeat padding-box; border-radius: 2px; opacity: 1; width: 211px; height: 41px; align-items: center;">
                    <label style="text-align: center; letter-spacing: 0px; color: #FFFFFF; opacity: 1; font: normal normal 600 10px/14px 'Open Sans', sans-serif;">Submeter Pedido</label>
                </button>
            </div>

        </div>

        <!-- Popup de confirmação de sucesso -->
    <div class="popup-background" *ngIf="isSuccessPopupVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #4CAF50; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;">Sucesso!</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <p style="color: #333;">O pedido foi submetido com sucesso.</p>
                <button class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;" (click)="closeSuccessPopup()">Fechar</button>
            </div>
        </div>
    </div>

    <div class="popup-background" *ngIf="isErrorPopupVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #ddda0e; padding-bottom: 15px; margin-bottom: 20px; color: #ddda0e; text-align: center;"> <i class="bi bi-exclamation-triangle-fill" style="margin-right: 5px;"></i> Aviso!</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <p >{{ errorMessage }}</p>
                <button class="btn btn-primary" style="background-color: #ddda0e; border-color: #ddda0e;" (click)="closeErrorPopup()">Fechar</button>
            </div>
        </div>
    </div>
</div>
