<div class="content" style="margin-left: 20px; margin-right: 20px; overflow-x: auto; font-family: 'Open Sans', sans-serif;">
    <div class="col-lg-11" style="margin-top: 10px; margin-left: 10px; display: flex; align-items: center;">
        <img src="assets\booking PISCO[149].svg" alt="Ícone de Reservas" style="width: 24px; height: 24px; margin-right: 10px;">
        <h1 class="text-left py-3 mb-0" style="top: 177px; left: 318px; text-align: left; font: normal 600 30px Open Sans, sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1;">Lista de Pedidos</h1>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 20px;">

        <!-- Seletor para tipos de viatura -->
        <div style="margin-right: 10px;">
            <label for="vehicle-type-select" style="margin-right: 5px;">Selecione um Tipo de Viatura:</label>
            <div style="position: relative; display: flex; align-items: center;">
                <select name="vehicleType" id="vehicleType" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; width: 300px; border: 1px solid #707070; border-radius: 5px;" [(ngModel)]="selectedVehicleType" (change)="loadMatriculations(selectedVehicleType)">
                    <option value="">Selecionar um Tipo de Viatura</option>
                    <!-- Utilize ngFor para iterar sobre os tipos de viatura e criar as opções dinamicamente -->
                    <option *ngFor="let type of vehicleType" [value]="type">{{ type }}</option>
                </select>
                <i class="bi bi-caret-down-fill" style="color: #337AB7; position: absolute; right: 10px; top: calc(50% - 8px);"></i>
            </div>
        </div>

        <!-- Seletor para matrículas -->
        <div style="margin-right: 10px;">
            <label for="matricula-select" style="margin-right: 5px;">Selecione uma Matrícula:</label>
            <div style="position: relative; display: flex; align-items: center;">
                <select name="matricula" id="matricula" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; width: 300px; border: 1px solid #707070; border-radius: 5px;" [(ngModel)]="selectedMatricula" (change)="applyFilters()">
                    <option value="">Selecionar Uma Matrícula</option>
                    <!-- Utilize ngFor para iterar sobre as matrículas e criar as opções dinamicamente -->
                    <option *ngFor="let matricula of matriculations" [value]="matricula">{{ matricula }}</option>
                </select>
                <i class="bi bi-caret-down-fill" style="color: #337AB7; position: absolute; right: 10px; top: calc(50% - 8px);"></i>
            </div>
        </div>

        <!-- Labels e inputs para datas -->
        <div style="display: flex; margin-left: 20px;">
            <div style="margin-right: 30px;">
                <label for="data-inicial" style="margin-right: 5px;">Data Inicial:</label>
                <div style="position: relative; display: flex; align-items: center;">
                    <input type="date" id="data-inicial" [(ngModel)]="startDate" (change)="applyFilters()" style="height: 36px;">
                    <button class="clear-button" (click)="clearDate('startDate')" style="background-color: #337AB7; border: none; border-radius: 1px; height: 36px; display: flex; align-items: center; padding: 0 10px;"><i class="bi bi-trash-fill" style="color: #FFFFFF;"></i></button>
                </div>
            </div>
            <div>
                <label for="data-final" style="margin-right: 5px;">Data Final:</label>
                <div style="position: relative; display: flex; align-items: center;">
                    <input type="date" id="data-final" [(ngModel)]="endDate" (change)="applyFilters()" style="height: 36px;">
                    <button class="clear-button" (click)="clearDate('endDate')" style="background-color: #337AB7; border: none; border-radius: 1px; height: 36px; display: flex; align-items: center; padding: 0 10px;"><i class="bi bi-trash-fill" style="color: #FFFFFF;"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Barra azul -->
    <div style="height: 2px; background-color: #337AB7;"></div>

    <table *ngIf="filteredPendings.length > 0" class="table table-center-align table-sm listaAproves" style="position: sticky; top: 0; z-index: 1; font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 14px; width: 100%; margin-top: 30px;">
        <thead style="text-align: left; font: normal bold normal 13px 'Open Sans', sans-serif; letter-spacing: 0px; color: #ffffff; background-color: #337AB7;">
            <tr>
                <th scope="col">Matrícula</th>
                <!-- No seu template HTML -->
                <th scope="col">
                    Data de Início
                    <i class="bi bi-caret-down-fill" style="cursor: pointer;" (click)="sortTableByStartDateIcon()"></i>
                </th>
                <th scope="col" style="text-align: left; font: bold bold normal 12px Open Sans, sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">Data de Fim</th>
                <!-- Adicione o ícone de seta para baixo ao lado do cabeçalho "Aprovado" -->
                <th scope="col" (click)="sortTableByApproval()" style="cursor: pointer;">
                    Aprovado
                    <i class="bi bi-caret-down-fill" *ngIf="sortDirection === 'desc' && sortColumn === 'aproved'"></i>
                    <i class="bi bi-caret-up-fill" *ngIf="sortDirection === 'asc' && sortColumn === 'aproved'"></i>
                </th>
                <th scope="col" style="text-align: left; font: bold bold normal 12px Open Sans, sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">Aprovado Por</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pending of filteredPendings" (click)="openEditPopup(pending)">
                <td style="vertical-align: middle; height: 45px; text-align: left; font: normal 600 10px Open Sans, sans-serif; letter-spacing: 0px; opacity: 1; color: #6D6D6D; height: 45px;"> {{pending.matriculation}}</td>
                <td style="vertical-align: middle; height: 45px; text-align: left; font: normal 600 10px Open Sans, sans-serif; letter-spacing: 0px; opacity: 1; color: #6D6D6D; height: 45px;">
                    {{ pending.dateStart | date:'yyyy-MM-dd HH:mm:ss' }}
                </td>
                <td style="vertical-align: middle; height: 45px; text-align: left; font: normal 600 10px Open Sans, sans-serif; letter-spacing: 0px; opacity: 1; color: #6D6D6D; height: 45px;">
                    {{ pending.dateEnd | date:'yyyy-MM-dd HH:mm:ss' }}
                </td>   
                <td style="vertical-align: middle; height: 45px; height: 45px; text-align: left; font: normal 600 10px Open Sans, sans-serif; letter-spacing: 0px; opacity: 1;" [ngClass]="getPendingStatusClass(pending.aproved)">{{ pending.aproved }}</td>
                <td style="vertical-align: middle; height: 45px; text-align: left; font: normal 600 10px Open Sans, sans-serif; letter-spacing: 0px; opacity: 1; color: #6D6D6D; height: 45px;">
                    <ng-container *ngIf="pending.aproved === 'APROVADO';">{{ pending.aprovedBy }}</ng-container>
                </td>
            </tr>
        </tbody>
    </table>    

    <div class="popup-background" *ngIf="isEditPopupVisible">
        <div class="popup-content" style="width: 400px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <div class="col-lg-11" style="margin-top: 10px; margin-left: 10px; border-bottom: 1px solid #337AB7; opacity: 1; position: relative;">
                <h2 class="text-left py-3 mb-0" style="text-align: left; font: normal normal 600 24px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1;"> 
                    <img src="assets\Iconly-Bold-Document[152].svg" alt="Ícone de Reservas" style="width: 22px; height: 22px; opacity: 1; margin-right: 10px;">
                    Editar Pedido
                </h2>
                <!-- Botão "X" para fechar a popup -->
                <button class="close-button" (click)="closeEditPopup()" style="background: none; border: none; cursor: pointer; position: absolute; top: 5px; right: 5px;">
                    <i class="bi bi-x" style="font-size: 24px; color: #337AB7;"></i>
                </button>
            </div>
            <div style="margin-left: 10px; margin-right: 10px;">
                <!-- Formulário de edição de pedidos -->
                <!-- Aqui você pode adicionar os campos necessários para editar o pedido -->
                <ng-container *ngIf="selectedPending.aproved === 'EM ESPERA'; else readonlyFields">
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editVehicleType">Tipo de Veículo:</label>
                        <div class="input-group">
                            <select [(ngModel)]="selectedPending.vehicleType" name="editVehicleType" id="editVehicleType" class="form-control select-with-icon" (change)="loadMatriculations(selectedPending.vehicleType)">
                                <option value="">Selecione um tipo</option>
                                <option *ngFor="let typeVehicle of vehicleType" [value]="typeVehicle">{{ typeVehicle }}</option>
                            </select>
                            <i class="bi bi-caret-down" style="position: absolute; z-index: 5000; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editMatriculation">Matrícula:</label>
                        <div class="input-group">
                            <select [(ngModel)]="selectedPending.matriculation" name="editVehicleType" id="editVehicleType" class="form-control">
                                <option value="">Selecionar Matrícula</option>
                                <option *ngFor="let matriculation of matriculations" [value]="matriculation">{{ matriculation }}</option>
                            </select>
                            <i class="bi bi-caret-down" style="position: absolute; z-index: 5000; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editDateStart">Data de Início da Reserva:</label>
                        <input [(ngModel)]="selectedPending.dateStart" name="editDateStart" id="editDateStart" type="datetime-local" class="form-control">
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editDateEnd">Data de Fim da Reserva:</label>
                        <input [(ngModel)]="selectedPending.dateEnd" name="editDateEnd" id="editDateEnd" type="datetime-local" class="form-control">
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editDescription">Motivo da Reserva:</label>
                        <textarea [(ngModel)]="selectedPending.description" name="editDescription" id="editDescription" class="form-control" rows="3" style="resize: none;"></textarea>
                    </div>
                </ng-container>
                
                <!-- Campos readonly -->
                <ng-template #readonlyFields>
                    <!-- Adicionei uma margem entre os campos readonly -->
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="aprovedBy">Aprovador:</label>
                        <input type="text" class="form-control" [value]="selectedPending.aprovedBy" readonly>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editVehicleType">Tipo de Veículo:</label>
                        <input type="text" class="form-control" [value]="selectedPending.vehicleType" readonly>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editMatriculation">Matrícula:</label>
                        <input type="text" class="form-control" [value]="selectedPending.matriculation" readonly>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editDateStart">Data de Início da Reserva:</label>
                        <input type="text" class="form-control" [value]="selectedPending.dateStart" readonly>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editDateEnd">Data de Fim da Reserva:</label>
                        <input type="text" class="form-control" [value]="selectedPending.dateEnd" readonly>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label for="editDescription">Motivo da Reserva:</label>
                        <textarea style="resize: none;"  class="form-control" rows="3" readonly>{{ selectedPending.description }}</textarea>
                    </div>
                </ng-template>
            </div>
            
            

            <div style="justify-content: center; align-items: center; display: flex; margin-top: 20px;">
                <button *ngIf="selectedPending.aproved === 'EM ESPERA'" (click)="updatePending(selectedPending)" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px; justify-content: center; display: flex; align-items: center;"> 
                    <span style="text-align: left; font: normal normal normal 18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">Pedir Alteração</span> 
                </button>
                <button *ngIf="selectedPending.aproved === 'APROVADO'" (click)="showDeleteConfirmation()" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px; justify-content: center; display: flex; align-items: center;"> 
                    <span style="text-align: left; font: normal normal normal 18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">Cancelar Pedido</span> 
                </button>
            </div>
            
        </div>

        <!-- Popup de confirmação de sucesso -->
        <div class="popup-backgroundSucess" *ngIf="isSuccessPopupVisible">
            <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
                <h3 style="border-bottom: 2px solid #4CAF50; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;">Sucesso!</h3>
                <div class="text-center" style="margin-bottom: 20px;">
                    <p style="color: #333;">O pedido foi submetido com sucesso.</p>
                    <button class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;" (click)="closeSuccessPopup()">Fechar</button>
                </div>
            </div>
        </div>

        <!-- Popup de confirmação de exclusão -->
        <div class="popup-background" *ngIf="isDeleteConfirmationVisible">
            <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
                <h3 style="border-bottom: 2px solid #337AB7; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;"> Tem a certeza que deseja eliminar?</h3>
                <div class="text-center" style="margin-bottom: 20px;">
                    <button class="btn btn-danger" style="margin-right: 8px; background-color: #d9534f; border-color: #d43f3a;" (click)="cancelPending(selectedPending)">Sim</button>
                    <button class="btn btn-secondary" style="background-color: #777; border-color: #555;" (click)="cancelDelete()">Cancelar</button>
                </div>
            </div>
        </div>

        <div class="popup-background" *ngIf="isErrorPopupVisible">
            <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
                <h3 style="border-bottom: 2px solid #dd0e0e; padding-bottom: 15px; margin-bottom: 20px; color: #dd0e0e; text-align: center;">Erro!</h3>
                <div class="text-center" style="margin-bottom: 20px;">
                    <p >{{ errorMessage }}</p>
                    <button class="btn btn-primary" style="background-color: #dd0e0e; border-color: #dd0e0e;" (click)="closeErrorPopup()">Fechar</button>
                </div>
            </div>
        </div>


    </div>
    
    

    
</div>
