<div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      <div class="col-md-1">
        <app-sidebar-gestao
        (toggleReservesListEvent)="showReserveList= $event"
        (toggleToListAprovedEvent)="showAprovedList = $event">
        </app-sidebar-gestao>
      </div>
      <!-- Conteúdo principal -->
      <div class="col-md-11">
        <app-navbar></app-navbar> <!-- Aqui incluímos o componente navbar -->
        <div class="content" [style.padding-left.px]="showAprovedList || showReserveList ? 0 : 0">
          <!-- Incluir os componentes aqui -->
          <app-list-reserves *ngIf="showReserveList"></app-list-reserves>
          <app-aprove-pendings *ngIf="showAprovedList"></app-aprove-pendings>
          <div *ngIf="!showReserveList && !showAprovedList">
            <app-empty-state-gestao 
            (toggleReservesListEvent)="showReserveList= $event"
            (toggleToListAprovedEvent)="showAprovedList = $event"></app-empty-state-gestao>
          </div>
        </div>
      </div>
    </div>
  </div>
  