<!-- Logotipo -->
<div class="logo" [ngClass]="{ 'hide-options': !showOptions }">
    <img src="assets\logo maps.svg" alt="Logotipo" style="width: 150px; height: auto; margin-left: 20px;">
</div>

<!-- Barra lateral -->
<nav id="sidebar" class="sidebar" *ngIf="showOptions">
    <!-- Lista de opções de menu -->
    <div class="list-group list-group-flush" *ngIf="showOptions">
        <!-- Opções de menu -->
        <a class="list-group-item-action d-flex align-items-center" 
        [class.active]="userListActive" 
        (click)="toggleUserList()">
        <i class="bi bi-people-fill me-2"></i>
        <span class="sidebar-text">Utilizador</span>
        </a>  
        <a class="list-group-item-action d-block d-flex align-items-center"  
        [class.active]="vehicleListActive" 
        (click)="toggleVehicleList()">
        <i class="bi bi-car-front-fill me-2"></i>
        <span class="sidebar-text">Veículos</span>
        </a>
        <a class="list-group-item-action d-block d-flex align-items-center" 
        [class.active]="pendantListActive" 
        (click)="togglePendantList()">
        <i class="bi bi-check-circle-fill me-2"></i>
        <span class="sidebar-text">Pedidos</span>
        </a>
        <a class="list-group-item-action d-block d-flex align-items-center" 
        [class.active]="showAprovedListActive" 
        (click)="toggleToAprovedList()">
        <i class="bi bi-list-check me-2"></i>
        <span class="sidebar-text">Aprovação de Pedidos</span>
        </a>
        <a class="list-group-item-action ripple d-block d-flex align-items-center" 
        [class.active]="reservesListActive" 
        (click)="toggleReservesList()">
        <i class="bi bi-calendar2-week-fill me-2"></i>
        <span class="sidebar-text">Reservas</span>
        </a>
    </div>
</nav>
