.content {
    padding-top: 70px; /* Ajuste se necessário de acordo com a altura da navbar */
    padding-left: calc(3.5% + 175px); /* Ajuste o valor de 250px conforme necessário para compensar a largura da sidebar */
    padding-right: 15px; /* Consistência do padding */
  }