.navbar {
  display: flex;
  min-height: 20px; /* Definindo a altura mínima para 20 pixels */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(80, 80, 80);
  box-shadow: rgb(141, 141, 141) 11px 0px 13px -5px inset;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 999;
  padding: 5px 10px; /* Ajuste o padding conforme necessário */
}



.navbar a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Removida a sublinhado do texto */
  margin-right: 20px; /* Adicionado espaçamento entre os elementos */
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logout-btn {
  margin-left: auto;
}

.navbar span {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.badge {
  background-color: red;
  color: white;
  padding: 1px 3px;
  border-radius: 50%;
  font-size: 8px;
  margin-left: -7px;
  margin-top: -10px;
}

.navbar a.active {
  border-bottom: 3px solid #337AB7; /* Adicione o estilo da borda aqui */
}
