<div class="navbar"> <!-- Defina a altura mínima para a navbar -->
  <!-- Adiciona a imagem do logotipo -->
  <div>
      <img src="assets\logo maps.svg" alt="Logotipo" style="width: 150px; height: auto; background: transparent url('img/logo pin.png') 0% 0% no-repeat padding-box; opacity: 1; margin-left: 40px; margin-right: 40px;">
  </div>
  <a *ngIf="isAdmin" (click)="GoToDashboard()" [ngClass]="{'active': isDashboardActive}" style="padding: 5px;">
      <img src="assets\booking PISCO[149].svg" alt="Ícone de Reservas" style="opacity: 1; width: 21px; height: 14px; margin-right: 5px; vertical-align: middle;">
      <label style="font: normal normal normal 15px Open Sans, sans-serif; letter-spacing: 0px; color: #FFFFFF; opacity: 1; display: inline-block; vertical-align: middle;">Dashboard</label>
  </a> 
  <a (click)="GoToReservas()" [ngClass]="{'active': isReservasActive}" style="padding: 5px; padding-left: 10px;">
      <img src="assets\booking PISCO[149].svg" alt="Ícone de Reservas" style="opacity: 1; width: 21px; height: 14px; margin-right: 5px; vertical-align: middle;">
      <label style="font: normal normal normal 15px Open Sans, sans-serif; letter-spacing: 0px; color: #FFFFFF; opacity: 1; display: inline-block; vertical-align: middle;">Pedidos de Reservas</label>
  </a> 
  <div class="logout-btn" style="padding: 5px;">
      <a *ngIf="isAdmin" (click)="toggleNotification()">
          <i class="bi bi-bell-fill" style="color: #337AB7; opacity: 1; width: 21px; height: 14px; margin-right: 5px; vertical-align: middle;"></i>
          <span class="badge" *ngIf="pendingCount > 0">{{pendingCount}}</span>
      </a>
      <a style="padding: 5px;">
          <i class="bi bi-person-fill" style="color: #337AB7; opacity: 1; width: 21px; height: 14px; margin-right: 5px; vertical-align: middle;" ></i>
          <label style="font: normal normal normal 15px Open Sans, sans-serif; letter-spacing: 0px; color: #FFFFFF; opacity: 1; display: inline-block; vertical-align: middle;">{{username}}</label>
      </a>
      <a (click)="logout()" style="margin-right: 20px; padding: 5px;">
          <i class="bi bi-door-closed-fill" style="color: #337AB7; opacity: 1; width: 21px; height: 14px; margin-right: 2px; vertical-align: middle;"></i>
          <label style="font: normal normal normal 15px Open Sans, sans-serif; letter-spacing: 0px; color: #FFFFFF; opacity: 1; display: inline-block; vertical-align: middle;">Logout</label>
      </a>
  </div>
</div>
