.navbar {
  display: flex;
  min-height: 18px; /* Definindo a altura mínima igual à altura da logo */
  justify-content: flex-end; /* Alinhar os itens da navbar à direita */
  align-items: center;
  background-color: rgb(80, 80, 80);
  overflow: hidden;
  cursor: pointer;
  position: fixed; /* Fixa a posição da navbar */
  top: 0; /* Ancora a navbar no topo da tela */
  left: 220px; /* Deixa espaço para a barra lateral */
  right: 0; /* Define a largura da navbar até o canto superior direito */
  z-index: 999;
  padding: 7px;
}

.navbar a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Removida a sublinhado do texto */
  margin-right: 10px; /* Adicionado espaçamento entre os elementos */
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logout-btn {
  margin-left: auto;
}

.navbar span {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.badge {
  background-color: red;
  color: white;
  padding: 1px 3px;
  border-radius: 50%;
  font-size: 8px;
  margin-left: -7px;
  margin-top: -10px;
}

.navbar a.active {
  border-bottom: 3px solid #337AB7; /* Adicione o estilo da borda aqui */
}
