.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #4e4e4e;
  overflow: auto;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 12px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logout-btn {
  margin-left: auto;
}

.navbar span {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

.badge {
  background-color: red;
  color: white;
  padding: 1px 3px;
  border-radius: 50%;
  font-size: 8px;
  margin-left: -7px;
  margin-top: -10px;
}