/* Estilo para o rodapé */
footer.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.contentEmpty {
    justify-content: center;
    align-items: flex-end;
    padding-left: 200px; /* Adicionando preenchimento à esquerda */
}
