<div *ngIf="pending" class="pending-form">
    <div class="row">
        <div class="form-group" style="margin-top: 20px;">
            <label style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;" for="vehicleType">TIPO DE VEÍCULO:</label>
            <select [(ngModel)]="pending.vehicleType" name="vehicleType" id="vehicleType" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23; height: 31px; width: 312px;" (change)="pending.vehicleType && loadMatriculations(pending.vehicleType)">
                <option value="Ligeiro">Ligeiro</option>
                <option value="Pesado">Pesado</option>
            </select>
        </div>

        <div class="form-group" style="margin-bottom: 14px;">
            <label for="matriculation" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">MATRÍCULA:</label>
            <select [(ngModel)]="pending.matriculation" name="matriculation" id="matriculation" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23; height: 31px; width: 312px;">
                <option value="">Selecionar Matrícula</option>
                <option *ngFor="let matriculation of matriculations" [value]="matriculation">{{ matriculation }}</option>
            </select>
        </div>

        <div class="form-group" style="margin-bottom: 14px;">
            <label for="dateStart" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">DATA DE INÍCIO:</label>
            <input [(ngModel)]="pending.dateStart" name="dateStart" id="dateStart" type="datetime-local" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23; height: 31px; width: 312px;">
        </div>

        <div class="form-group" style="margin-bottom: 14px;">
            <label for="dateEnd" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">DATA DE FIM:</label>
            <input [(ngModel)]="pending.dateEnd" name="dateEnd" id="dateEnd" type="datetime-local" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23; height: 31px; width: 312px;">
        </div>

        <div class="form-group" style="margin-bottom: 14px;">
            <label for="description" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">DESCRIÇÃO:</label>
            <textarea [(ngModel)]="pending.description" name="description" id="description" class="form-control" placeholder="Descrição" style="resize: none; height: 120px; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;"></textarea>
        </div>

        <!-- Campos adicionais -->
        <div *ngIf="pending.pendingID"  class="form-group">
            <label for="aproved" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">APROVADO:</label>
            <select [(ngModel)]="pending.aproved" name="aproved" id="aproved" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23; height: 31px; width: 312px;">
                <option value="APROVADO">APROVADO</option>
                <option value="NÃO APROVADO">NÃO APROVADO</option>
            </select>
        </div>            
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 text-center " style="margin-top: 20px;">
            <div class="row text-left">
                <div class="d-flex">
                    <button (click)="updatePending(pending)" *ngIf="pending.pendingID" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;">
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">SALVAR</span>
                    </button>
                    <button (click)="deletePending(pending)" *ngIf="pending.pendingID" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px; margin-left: 18px;"> 
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">APAGAR</span> 
                    </button>
                </div>
            </div>
            <div class="row text-left">
                <button (click)="createPending(pending)" *ngIf="!pending.pendingID" style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; opacity: 1; width: 144px; height: 43px; margin-left: 10px;">
                <span style="text-align: left; font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">GUARDAR</span>
                </button>
            </div>
        </div>
    </div>
</div>
