footer.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.container-content {
    margin-bottom: 5px; /* Ajuste a margem inferior conforme desejado */
}

.equal-height-card {
    display: flex;
    flex-direction: column;
    max-height: 50vh; /* Define a altura máxima */
    overflow: hidden; /* Impede que o conteúdo se estenda além da altura máxima */
}

.card-subtitle {
    color: #6c757d;
}

.list-group-item {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
    border-top: none;
}

.list-group-item:last-child {
    border-bottom: none;
}

.equal-height-row {
    display: flex;
}

.equal-height-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.equal-height-row > [class*='col-'] > .p-5 {
    flex: 1;
}

