<div class="row justify-content-center"> <!-- Adicionando a classe justify-content-center para alinhar horizontalmente -->
    <div class="row">
        <!-- Container de boas-vindas -->
        <div class="col-12" style="margin-bottom: 10px;">
            <div class="p-5" style="background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 2px 6px #00000029; border-radius: 8px; opacity: 1;">
                <div style="font: normal 600 20px/23px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1;"> Bem-vindo á Dashboard, {{ userName }}</div>
            </div>
        </div>

        <!-- Caixa 1 - Total Utilizadores -->
        <div class="col-4">
            <div class="p-5" style="background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 2px 6px #00000029; border-radius: 8px; opacity: 1;">
                <div class="col-lg-11" style="margin-top: 10px; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-bottom: 1px solid #337AB7; display: flex; align-items: center;">
                    <h5 class="text-left py-3 mb-0" style="font: normal 600 20px/23px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1;"> <i class="bi bi-people-fill" style="margin-right: 10px;"></i>Total Utilizadores</h5>
                </div>
                <div style="margin-top: 10px;" class="user-count d-flex justify-content-center align-items-center display-6"> {{ userCount }}  <i class="bi bi-people-fill" style="margin-left: 10px;"></i></div>
            </div>
        </div>
    
        <!-- Caixa 2 - Total Veículos -->
        <div class="col-4">
            <div class="p-5" style="background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 2px 6px #00000029; border-radius: 8px; opacity: 1;">
                <div class="col-lg-11" style="margin-top: 10px; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-bottom: 1px solid #337AB7; display: flex; align-items: center;">
                    <h5 class="text-left py-3 mb-0" style="font: normal 600 20px/23px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1;"> <i class="bi bi-car-front-fill" style="margin-right: 10px;"></i>Total Veículos</h5>
                </div>
                <div style="margin-top: 10px;" class="user-count d-flex justify-content-center align-items-center display-6"> {{ vehicleCount }}  <i class="bi bi-car-front-fill" style="margin-left: 10px;"></i></div>
            </div>
        </div>
    
        <!-- Caixa 3 - Total Reservas -->
        <div class="col-4">
            <div class="p-5" style="background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 2px 6px #00000029; border-radius: 8px; opacity: 1;">
                <div class="col-lg-11" style="margin-top: 10px; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-bottom: 1px solid #337AB7; display: flex; align-items: center;">
                    <h5 class="text-left py-3 mb-0" style="font: normal 600 20px/23px 'Open Sans', sans-serif; letter-spacing: 0px; color: #337AB7; opacity: 1;"> <i class="bi bi-calendar2-week-fill" style="margin-right: 10px;"></i>Total Reservas</h5>
                </div>
                <div style="margin-top: 10px;" class="user-count d-flex justify-content-center align-items-center display-6"> {{ reserveCount }}  <i class="bi bi-calendar2-week-fill" style="margin-left: 10px;"></i></div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
        <div class="container">
          <span class="text-muted">Wave Reservas v1.0 © 2024</span>
        </div>
      </footer>

    </div>
</div>
