/* Estilo do container principal */
.login-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Cor de fundo branca */
}

/* Estilo do container de login */
.login-container {
    background-color: rgba(23, 116, 180, 0.47); /* Azul transparente */
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    max-width: 500px; /* Definir a largura máxima */
    width: 100%; /* Para garantir que ocupe a largura total do container pai */
}

/* Estilo do título */
.title {
    margin-top: 20px; /* Adicionar espaço entre o logo e o título */
}

/* Estilo dos inputs */
.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #fff; /* Cor de fundo branca */
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #337ab7; /* Azul */
    color: #fff; /* Cor do texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #286090; /* Azul mais escuro no hover */
}
