<div class="login-wrapper" style="background: url('assets/BackgorundImageTest.webp') no-repeat center center; background-size: cover; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="login-container" style="min-height: 400px; background-color: rgba(0, 153, 255, 0.534); padding: 40px; border-radius: 20px; text-align: center; max-width: 400px; width: 100%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img src="assets/logo maps.svg" alt="Logo" style="color: rgb(0, 120, 224); margin-bottom: 20px; margin-left: auto; margin-right: auto; display: block;">
        <h2 style="font-size: 24px; font-weight: bold; color: #ffffff; margin-bottom: 40px;">Gestão de Reservas</h2>
        <form>
            <div class="form-group" style="margin-bottom: 20px;">
                <input autofocus="" class="form-control" id="username" name="username" [(ngModel)]="userDto.userName" style="width: 100%; padding: 15px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #dfe3e8; background-color: #fff;" placeholder="Utilizador" type="text">
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <input id="password" [(ngModel)]="userDto.password" name="password" type="password" style="width: 100%; padding: 15px; border-radius: 5px; border: 1px solid #dfe3e8; background-color: #fff;" placeholder="Senha">
            </div>
            <label style="color: #fff; cursor: pointer;" (click)="openPopupToCreatePending()">Não sabe a sua palavra-passe?</label>
            <button type="submit" (click)="login(userDto)" style="width: 100%; margin-top: 20px; padding: 15px; background-color: #337ab7; color: #fff; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">Entrar</button>
            
        </form>
    </div>

    <div class="popup-background" *ngIf="isErrorPopupVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #ffc107; padding-bottom: 15px; margin-bottom: 20px; color: #ffc107; text-align: center;">Atenção!</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <p >{{ errorMessage }}</p>
                <button class="btn btn-primary" style="background-color: #ffc107; border-color: #ffc107;" (click)="closeErrorPopup()">Fechar</button>
            </div>
        </div>
    </div>

    <!-- Existing popup structure -->
    <div class="popup-background" *ngIf="isForgotPasswordPopupVisible">
        <div class="popup-content" style="border: 1px solid #ccc; border-radius: 10px; padding: 20px;">
        <h3 style="color: #333; font-size: 24px; margin-bottom: 20px;">Esqueceu a palavra-passe?</h3>
        <form (submit)="createPendingToChangePassword()">
            <div class="form-group">
            <label for="username" style="color: #333; font-size: 16px; margin-bottom: 10px;">Nome do Utilizador:</label>
            <input type="text" id="username" name="username" [(ngModel)]="pendingToPasswordChange.createdBy" required
                    style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
            <button type="submit" style="background-color: #337ab7; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">Enviar Pedido</button>
            <button type="button" (click)="isForgotPasswordPopupVisible = false" style="background-color: #dd0e0e; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">Cancelar</button>
            </div>
        </form>
        </div>
    </div>
  
    <!-- Popup de confirmação de sucesso -->
    <div class="popup-background" *ngIf="isSuccessPopupVisible">
        <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
            <h3 style="border-bottom: 2px solid #4CAF50; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;">Sucesso!</h3>
            <div class="text-center" style="margin-bottom: 20px;">
                <p style="color: #333;">O pedido foi submetido com sucesso.</p>
                <button class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;" (click)="closeSuccessPopup()">Fechar</button>
            </div>
        </div>
    </div>
    
    
</div>
