<div *ngIf="vehicle" class="vehicle-form" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="matriculation" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">MATRÍCULA:</label>
                <input [(ngModel)]="vehicle.matriculation" name="matriculation" id="matriculation" class="form-control" placeholder="Matrícula" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="mark" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">MARCA:</label>
                <input [(ngModel)]="vehicle.mark" name="mark" id="mark" class="form-control" placeholder="Marca" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="model" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">MODELO:</label>
                <input [(ngModel)]="vehicle.model" name="model" id="model" class="form-control" placeholder="Modelo" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="topology" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">TOPOLOGIA:</label>
                <input [(ngModel)]="vehicle.topology" name="topology" id="topology" class="form-control" placeholder="Topologia" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">
                <label for="year">ANO:</label>
                <input [(ngModel)]="vehicle.year" name="year" id="year" class="form-control" placeholder="Ano" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="places" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">LUGARES:</label>
                <input [(ngModel)]="vehicle.places" name="places" id="places" class="form-control" placeholder="Lugares" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="TIPO DE VEICULO:" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">TIPO DE VEÍCULO:</label>
                <select [(ngModel)]="vehicle.typeVehicle" name="typeVehicle" id="typeVehicle" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
                    <option value="Ligeiro">Ligeiro</option>
                    <option value="Pesado">Pesado</option>
                    <!-- Adicione mais opções conforme necessário -->
                </select>
            </div>
            <div class="form-group">
                <label for="fuel" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">COMBUSTÍVEL:</label>
                <input [(ngModel)]="vehicle.fuel" name="fuel" id="fuel" class="form-control" placeholder="Combustível" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="defaultCoords" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">COORDENADAS PADRÃO:</label>
                <input [(ngModel)]="vehicle.defaultCoords" name="defaultCoords" id="defaultCoords" class="form-control" placeholder="Coordenadas Padrão" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="color" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">COR:</label>
                <input [(ngModel)]="vehicle.color" name="color" id="color" class="form-control" placeholder="Cor" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="icon" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">ÍCONE:</label>
                <input [(ngModel)]="vehicle.icon" name="icon" id="icon" class="form-control" placeholder="Ícone" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
            <div class="form-group">
                <label for="vehicleCode" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444; opacity: 1;">CÓDIGO DO VEÍCULO:</label>
                <input [(ngModel)]="vehicle.vehicleCode" name="vehicleCode" id="vehicleCode" class="form-control" placeholder="Código do Veículo" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; opacity: 0.23;">
            </div>
        </div>
    </div>

    <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
        <label for="Obs" style="margin-bottom: 5px;">OBSERVAÇÕES:</label>
        <textarea [(ngModel)]="vehicle.obs" name="Obs" id="Obs" class="form-control" style="resize: none;"></textarea>
    </div>

    
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-md-6 text-center">
        <div class="row">
            <div class="d-flex justify-content-between">
                <button (click)="updateVehicle(vehicle)" *ngIf="vehicle.vehicleID" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;">
                    <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">SALVAR</span>
                </button>
                <button (click)="deleteVehicle(vehicle)" *ngIf="vehicle.vehicleID" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;"> 
                    <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">APAGAR</span> 
                </button>
            </div>
        </div>
        <button (click)="createVehicle(vehicle)" *ngIf="!vehicle.vehicleID" style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; opacity: 1; width: 144px; height: 43px;">
            <span style="text-align: left; font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">SALVAR</span>
        </button>
    </div>
</div>

</div>
