<div *ngIf="reserve" class="reserve-form" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
                <label for="Matriculation" style="margin-bottom: 5px;">MATRÍCULA:</label>
                <select [(ngModel)]="reserve.matriculation" name="Matriculation" id="Matriculation" class="form-control">
                    <option *ngFor="let matriculation of matriculations" [value]="matriculation">{{ matriculation }}</option>
                </select>
            </div>
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
                <label for="DateStart" style="margin-bottom: 5px;">DATA DE INÍCIO:</label>
                <input [(ngModel)]="reserve.dateStart" name="DateStart" id="DateStart" type="date" class="form-control">
            </div>
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
                <label for="DateEnd" style="margin-bottom: 5px;">DATA DE TÉRMINO:</label>
                <input [(ngModel)]="reserve.dateEnd" name="DateEnd" id="DateEnd" type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
                <label for="State" style="margin-bottom: 5px;">ESTADO:</label>
                <input [(ngModel)]="reserve.state" name="State" id="State" class="form-control">
            </div>
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
                <label for="Description" style="margin-bottom: 5px;">DESCRIÇÃO:</label>
                <input [(ngModel)]="reserve.description" name="Description" id="Description" class="form-control">
            </div>
            <div class="form-group" style="text-align: left; font: normal normal normal 12px/17px 'Open Sans', sans-serif; letter-spacing: 0px; color: #444444;opacity: 1px; margin-bottom: 20px;">
                <label for="Obs" style="margin-bottom: 5px;">OBSERVAÇÕES:</label>
                <textarea [(ngModel)]="reserve.obs" name="Obs" id="Obs" class="form-control" style="resize: none;"></textarea>
            </div>
            <!-- Adicione outros campos do modelo Reserve aqui -->
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-md-6 text-center">
        <div class="row">
            <div class="d-flex justify-content-between">
                <button (click)="updateReserve(reserve)" *ngIf="reserve.reserveID" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;">
                    <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">SALVAR</span>
                </button>
                <button (click)="deleteReserve(reserve)" *ngIf="reserve.reserveID" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;"> 
                    <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">APAGAR</span> 
                </button>
            </div>
        </div>
        <button (click)="createReserve(reserve)" *ngIf="!reserve.reserveID" style="background: #337AB7 0% 0% no-repeat padding-box; border-radius: 5px; opacity: 1; width: 144px; height: 43px;">
            <span style="text-align: left; font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">SALVAR</span>
        </button>
    </div>
</div>
