.approved {
    color: #009E25; /* Texto verde para APROVADO */
}

.not-approved {
    color: #FF0000; /* Texto vermelho para NÃO APROVADO */
}

.pending {
    color: #FF8000; /* Texto amarelo para EM ESPERA */
}

/* Estilize a célula da coluna quando o mouse estiver sobre ela */
.listaAproves tr:hover td{
    background-color: #f5f5f5 ; /* Cor de fundo quando hover */
    cursor: pointer; /* Altera o cursor para indicar interação */
}

.listaAproves td{
background-color:#ffff;
}

.contentEmpty {
    padding-left: 100px;
}

