.approved {
    color: #009E25; /* Texto verde para APROVADO */
}

.not-approved {
    color: #FF0000; /* Texto vermelho para NÃO APROVADO */
}

.pending {
    color: #FF8000; /* Texto amarelo para EM ESPERA */
}

/* Estilize a célula da coluna quando o mouse estiver sobre ela */
.listaAproves tr:hover td{
    background-color: #f5f5f5 ; /* Cor de fundo quando hover */
    cursor: pointer; /* Altera o cursor para indicar interação */
}

.listaAproves td{
background-color:#ffff;
}

.contentEmpty {
    padding-left: 100px;
}

.popup-background {
    z-index: 1000; /* ou qualquer valor maior do que o z-index dos elementos acima */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo escuro semi-transparente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.popup-backgroundSucess{
    position: fixed; /* Posição fixa em relação à tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 5000; /* Garante que a popup esteja na frente de outros elementos */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content p {
    margin-bottom: 10px;
}

