<!-- Logotipo -->
<div class="logo">
    <img src="assets\logo maps.svg" alt="Logotipo" style="width: 150px; height: auto; margin-left: 20px;">
</div>

<div id="sidebar" class="sidebar" style="background-color: rgb(90, 90, 90);">
    <!-- Lista de opções de menu -->
    <div class="list-group list-group-flush">
        <!-- Opções de menu -->
        <a class="list-group-item-action d-flex align-items-center" 
        [class.active]="userListActive" 
        (click)="toggleUserList()">
        <i class="bi bi-people-fill me-2"></i>
        <span class="sidebar-text">Utilizador</span>
        </a>  
        <a class="list-group-item-action d-block d-flex align-items-center"  
        [class.active]="vehicleListActive" 
        (click)="toggleVehicleList()">
        <i class="bi bi-car-front-fill me-2"></i>
        <span class="sidebar-text">Veículos</span>
        </a>
        <a class="list-group-item-action d-block d-flex align-items-center" 
        [class.active]="pendantListActive" 
        (click)="togglePendantList()">
        <i class="bi bi-check-circle-fill me-2"></i>
        <span class="sidebar-text">Pedidos</span>
        </a>
    </div>
</div>
