<!-- Logotipo -->
<div class="logo">
    <img src="assets\logo maps.svg" alt="Logotipo" style="width: 150px; height: auto; margin-left: 20px;">
</div>

<div id="sidebar" class="sidebar" style="background-color: rgb(80, 80, 80);">
    <!-- Lista de opções de menu -->
    <div class="list-group list-group-flush">
        <!-- Opções de menu -->
        <a class="list-group-item-action d-flex align-items-center" 
        [class.active]="userListActive" 
        (click)="toggleUserList()">
        <i class="bi bi-people-fill me-2"></i>
        <span class="sidebar-text">Utilizador</span>
        </a>  
        <a class="list-group-item-action d-block d-flex align-items-center"  
        [class.active]="vehicleListActive" 
        (click)="toggleVehicleList()">
        <i class="bi bi-car-front-fill me-2"></i>
        <span class="sidebar-text">Veículos</span>
        </a>
        <a class="list-group-item-action d-block d-flex align-items-center" 
        [class.active]="pendantListActive" 
        (click)="togglePendantList()">
        <i class="bi bi-check-circle-fill me-2"></i>
        <span class="sidebar-text">Pedidos</span>
        </a>
        <a class="list-group-item-action d-block d-flex align-items-center" 
        [class.active]="opentwoOptions" 
        (click)="toggleCreateDropdown()">
        <i class="bi bi-table me-2" style="color: #FFFFFF;"></i>
        <span class="sidebar-text" style="color: #FFFFFF;">Outras Tabelas</span>
        <i class="bi bi-caret-down-fill" style="color: #FFFFFF; position: absolute; right: 10px;"></i>
        </a>
        <div *ngIf="opentwoOptions" style="margin-top: 5px;">
            <a 
            class="list-group-item-action d-block d-flex align-items-center"
            [class.active]="showCreateGroupUserActive" 
            (click)="toggleCreateGroupUser()"
            style="margin-left: 20px;"  >
                <i class="bi bi-person-vcard-fill" style="color: #FFFFFF; margin-right: 5px;"></i>
                <span class="sidebar-text" style="color: #FFFFFF;" >Grupo de Utilizadores</span>
            </a>
            <a 
            class="list-group-item-action d-block d-flex align-items-center"
            [class.active]="showCreateTypeVehicleActive"
            (click)="toggleCreateTypeVehicle()"
            style="margin-left: 20px;" >
            <i class="bi bi-car-front-fill" style="color: #FFFFFF; margin-right: 5px;"></i>
            <span class="sidebar-text" style="color: #FFFFFF;" >Tipos de Viatura</span>
            </a>
        </div>
    </div>
</div>
