<div class="col-lg-11" style="background: #FFFFFF; box-shadow: 0px 2px 6px #00000029; border-radius: 8px; opacity: 1; min-height: 200px;">
    <div class="col-lg-6" style="margin-top: 10px; margin-bottom: 20px; margin-left: 10px; display: flex; align-items: center; ">
        <!-- Botão Lista De Pedidos -->
        <a class="mr-2" style="margin-left: 10px; margin-top: 10px; text-decoration: none; color: inherit; cursor: pointer;" (click)="showListPedidos()" [ngClass]="{'has-border-bottom': showPedidos}">
            <span>Lista De Pedidos</span>
        </a>
        <!-- Botão Calendario -->
        <a class="mr-2" style="margin-top: 10px; text-decoration: none; color: inherit; cursor: pointer; margin-left: 20px;" (click)="showCalendar()" [ngClass]="{'has-border-bottom': showCalendare}">
            <span>Calendário</span>
        </a>
    </div>

    <!-- Componente Lista de Pedidos -->
    <app-list-user-pendings *ngIf="showPedidos"></app-list-user-pendings>

    <!-- Componente Calendário -->
    <app-schedule-reserves *ngIf="showCalendare"></app-schedule-reserves>
</div>
