.has-border-bottom {
    border-bottom: 2px solid #337AB7; /* Este é um exemplo de estilo de borda inferior personalizado */
}

.custom-style {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    opacity: 1;
    min-height: auto;
}
