<div *ngIf="reserve" class="reserve-form" style="margin-top: 10px; font-family: 'Open Sans', sans-serif;" >
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="margin-top: 20px; margin-bottom: 8px;">
                <label for="Matriculation" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">Matrícula:</label>
                <select [(ngModel)]="reserve.matriculation" name="Matriculation" id="Matriculation" class="form-control" style="background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
                    <option *ngFor="let matriculation of matriculations" [value]="matriculation" disabled>{{ matriculation }}</option>
                </select>
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="dateStart" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;" class="mb-1">Selecione a Data de Início da Reserva:</label>
                <input [(ngModel)]="reserve.dateStart" name="dateStart" id="dateStart" type="datetime-local" class="form-control" required #dateStartInput="ngModel"
                    [class.is-invalid]="dateStartInput.invalid && (dateStartInput.dirty || dateStartInput.touched)" style=" background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="dateEnd" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;" class="mb-1">Selecione a Data de Fim da Reserva:</label>
                <input [(ngModel)]="reserve.dateEnd" name="dateEnd" id="dateEnd" type="datetime-local" class="form-control" [min]="reserve.dateStart" required #dateEndInput="ngModel" 
                    [class.is-invalid]="dateEndInput.invalid && (dateEndInput.dirty || dateEndInput.touched)" style=" background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-top: 20px; margin-bottom: 8px;">
                <label for="State" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">Estado:</label>
                <input readonly [(ngModel)]="reserve.state" name="State" id="State" class="form-control" style="opacity: 0.23; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;" disabled>
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="Description" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">Descrição:</label>
                <input [(ngModel)]="reserve.description" name="Description" id="Description" class="form-control" style=" background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px; height: 31px;">
            </div>
            <div class="form-group" style="margin-bottom: 8px;">
                <label for="Obs" style="text-align: left; font: normal normal normal 12px Open Sans, sans-serif;letter-spacing: 0px; color: #444444; opacity: 1; margin-bottom: 2px;">Observações:</label>
                <textarea [(ngModel)]="reserve.obs" name="Obs" id="Obs" class="form-control" style=" resize: none; height: 120px; background: #FFFFFF 0% 0% no-repeat padding-box; border: 1px solid #707070; border-radius: 5px;"></textarea>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 text-center" style="margin-top: 20px;">
            <div class="row text-left">
                <div class="d-flex">
                    <!-- <button (click)="updateReserve(reserve)" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;">
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">Salvar</span>
                    </button> -->
                    <button (click)="showDeleteConfirmation()" style="background: #337AB7; border-radius: 5px; opacity: 1; width: 144px; height: 43px;"> 
                        <span style="font: normal normal normal 13px/18px Open Sans; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">Apagar</span> 
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup de confirmação de exclusão -->
<div class="popup-background" *ngIf="isDeleteConfirmationVisible">
    <div class="popup-content" style="width: 300px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
        <h3 style="border-bottom: 2px solid #337AB7; padding-bottom: 15px; margin-bottom: 20px; color: #333; text-align: center;"> Tem a certeza que deseja eliminar?</h3>
        <div class="text-center" style="margin-bottom: 20px;">
            <button class="btn btn-danger" style="margin-right: 8px; background-color: #d9534f; border-color: #d43f3a;" (click)="deleteReserve(reserve)">Sim</button>
            <button class="btn btn-secondary" style="background-color: #777; border-color: #555;" (click)="cancelDelete()">Cancelar</button>
        </div>
    </div>
</div>

</div>


