<!-- Logotipo -->
<div class="logo">
    <img src="assets\logo maps.svg" alt="Logotipo" style="width: 150px; height: auto; margin-left: 20px;">
</div>

<div id="sidebar" class="sidebar" style="background-color: rgb(80, 80, 80); font-family: 'Open Sans', sans-serif;" >
    <!-- Lista de opções de menu -->
    <div class="list-group list-group-flush">
        <a class="list-group-item-action d-block d-flex align-items-center" 
        [class.active]="showAprovedListActive" 
        (click)="toggleToAprovedList()">
        <i class="bi bi-check-circle-fill me-2"></i>
        <span class="sidebar-text">Aprovação de Pedidos</span>
        </a>
        <a class="list-group-item-action ripple d-block d-flex align-items-center" 
        [class.active]="reservesListActive" 
        (click)="toggleReservesList()">
        <i class="bi bi-clock-fill me-2"></i>
        <span class="sidebar-text">Reservas</span>
        </a>
        <a class="list-group-item-action ripple d-block d-flex align-items-center" 
        [class.active]="changePasswordListActive" 
        (click)="toggleChangePassword()">
        <i class="bi bi-key-fill me-2"></i>
        <span class="sidebar-text">Alteração de Password</span>
        </a>
    </div>
</div>
