.small-calendar {
    font-size: 12px; /* Reduz o tamanho da fonte */
  }
  
  .small-calendar .cal-cell-top {
    height: 20px; /* Reduz a altura das células do cabeçalho */
  }
  
  .small-calendar .cal-day-cell {
    height: 30px; /* Reduz a altura das células dos dias */
  }
  
  .small-calendar .cal-event-title {
    font-size: 8px; /* Reduz o tamanho da fonte dos eventos */
  }
  