<div class="container">
  <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
    <div class="col-md-6"> <!-- Divisão de colunas para os selects -->
      <!-- Seletor de visualização -->
      <div class="mt-3 mb-3">
        <!-- Label do seletor de visualização -->
        <label for="viewSelector" class="form-label">Visualização:</label>
        <select id="viewSelector" class="form-select" [(ngModel)]="view" (change)="setView(view)">
          <option *ngFor="let viewOption of views" [value]="viewOption">{{ viewOption | titlecase }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6"> <!-- Divisão de colunas para os selects -->
      <!-- Seletor de matrícula -->
      <div class="mt-3 mb-3">
        <!-- Label do seletor de matrícula -->
        <label for="matriculationSelector" class="form-label">Matrícula:</label>
        <select id="matriculationSelector" class="form-select" [(ngModel)]="selectedMatriculation" (change)="loadReserves()">
          <option value="">Todas as Matrículas</option>
          <option *ngFor="let matriculation of matriculations" [value]="matriculation">{{ matriculation }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Indicador de data e botões de navegação -->
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Botão de navegação "Anterior" -->
        <button class="btn" style="background-color: #fff;" (click)="previous()">
          <i class="fa fa-chevron-left" style="color: #337AB7;"></i>
        </button>

        <!-- Indicador de data -->
        <h4>{{ getIndicator() }}</h4>

        <!-- Botão de navegação "Próximo" -->
        <button class="btn" style="background-color: #fff;" (click)="next()">
          <i class="fa fa-chevron-right" style="color: #337AB7;"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Visualização do calendário -->
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="view === 'month'">
        <mwl-calendar-month-view
          [viewDate]="viewDate"
          [events]="events"
          (eventClicked)="eventClicked($event.event)"
          class="small-calendar"
        ></mwl-calendar-month-view>
      </ng-container>
      <ng-container *ngIf="view === 'day'">
        <mwl-calendar-day-view
          [viewDate]="viewDate"
          [events]="events"
          (eventClicked)="eventClicked($event.event)"
          class="small-calendar"
        ></mwl-calendar-day-view>
      </ng-container>
      <ng-container *ngIf="view === 'week'">
        <mwl-calendar-week-view
          [viewDate]="viewDate"
          [events]="events"
          (eventClicked)="eventClicked($event.event)"
          class="small-calendar"
        ></mwl-calendar-week-view>
      </ng-container>
    </div>
  </div>
</div>
