.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  z-index: 1000;
  max-width: 90%; /* Define uma largura máxima para a popup */
  width: 400px; /* Define uma largura padrão para a popup */
}

.content {
  padding-top: 70px; /* Ajuste se necessário de acordo com a altura da navbar */
  padding-left: calc(3.5% + 175px); /* Ajuste o valor de 250px conforme necessário para compensar a largura da sidebar */
  padding-right: 15px; /* Consistência do padding */
}

.popupLegendaColors {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  z-index: 1000;
  max-width: 90%; /* Define uma largura máxima para a popup */
  width: 400px; /* Define uma largura padrão para a popup */
}

.popup-content {
  max-width: 100%; /* Garante que o conteúdo da popup não ultrapasse sua largura máxima */
  margin: 0 auto;
}

.popup h3 {
  font-size: 23px;
  color: #333333;
}

.matriculation-list {
  margin-top: 10px;
}

.matriculation-list .form-check {
  margin-bottom: 8px;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-buttons .btn-secondary {
  background-color: #cccccc;
  color: #ffffff;
  border: none;
}

.popup-buttons .btn-primary {
  margin-left: 8px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #444444;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.styled-checkbox:checked + .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid #337ab7;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Calendario */

::ng-deep .cal-month-view .cal-day-badge {
  display: none !important;
}

::ng-deep .cal-month-view .cal-event {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.matriculation-list {
  display: flex;
  flex-direction: column;
}

.matriculation-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 20px;
}

.matriculation-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 8px;
}

.matriculation-text {
  font-size: 14px;
  color: #333;
}


.popup-background {
  position: fixed; /* Posição fixa em relação à tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  z-index: 1000; /* Garante que a popup esteja na frente de outros elementos */
}

.popup-contentee {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

/* Estilizando a área do footer */
.popup-footer {
  display: flex; /* Usando flexbox para alinhar os botões lado a lado */
  justify-content: center; /* Centralizando os botões horizontalmente */
  margin-top: 20px;
}

/* Estilizando os botões */
.popup-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adicionando uma transição suave para a cor de fundo */
}

.popup-button:hover {
  background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

/* Adicionando uma animação suave ao passar de uma opção para outra */
.popup-button {
  transition: transform 0.3s ease; /* Adicionando uma transição suave para a transformação */
}

.popup-button:nth-child(2) {
  transform: translateX(100%); /* Movendo o segundo botão para a direita inicialmente */
}

.popup-button.show-reserva-details:nth-child(1) {
  transform: translateX(-100%); /* Movendo o primeiro botão para a esquerda quando 'showReservaDetails' é verdadeiro */
}

.popup-button:not(.show-reserva-details):nth-child(2) {
  transform: translateX(0); /* Mantendo o segundo botão no lugar quando 'showReservaDetails' é verdadeiro */
}
