<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-1">
            <app-sidebar-reservas (toggleCreateReserveEvent)="showCreateReserve = $event" 
                                   (toggleCalendarEvent)="showCalendar = $event"
                                   (toggleReserveRequestsEvent)="showReserveRequests = $event">
            </app-sidebar-reservas>
        </div>

        <div class="col-md-11">
            <div class="content">
                <!-- Conteúdo principal -->
                <app-create-reserva *ngIf="showCreateReserve" [pending]="pending"></app-create-reserva> 

                <app-schedule-reserves *ngIf="showCalendar"></app-schedule-reserves>
                
                <app-list-user-pendings *ngIf="showReserveRequests"></app-list-user-pendings>

                <div *ngIf="!showCreateReserve && !showReserveRequests && !showCalendar">
                    <span>Selecione uma opção</span>
                  </div>
            </div>
        </div>
    </div>
</div>

