app-navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

app-sidebar {
    z-index: 900;
    position: fixed;
    top: 50px;
    left: 0;
    width: 20%; /* Definindo a largura da barra lateral em relação à largura da tela */
    height: calc(100% - 50px);
    overflow-y: auto;
}
