<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-2">
            <app-sidebar-reservas (toggleCreateReserveEvent)="showCreateReserve = $event" 
                                   (toggleReserveRequestsEvent)="showReserveRequests = $event">
            </app-sidebar-reservas>
        </div>

        <div class="col-md-10">
            <div class="content">
                <!-- Conteúdo principal -->
                <app-create-reserva *ngIf="showCreateReserve" [pending]="pending"></app-create-reserva> 
                
                <app-select-schedule-or-pendings *ngIf="showReserveRequests"></app-select-schedule-or-pendings>

                <div *ngIf="!showCreateReserve && !showReserveRequests">
                    <span>Selecione uma opçao</span>
                  </div>
            </div>
        </div>
    </div>
</div>

