app-navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Reduza a altura conforme necessário */
}

app-sidebar {
    z-index: 900;
    position: fixed;
    top: 50px; /* Ajuste conforme a altura da barra de navegação */
    left: 0;
    width: 210px;
    height: calc(100% - 50px); /* Ajuste conforme a altura da barra de navegação */
    overflow-y: auto;
}

.content {
    padding-top: 70px; /* Reduza o valor do padding conforme necessário */
    padding-left: 80px;
}
