/* Estilize a célula da coluna quando o mouse estiver sobre ela */
.listaAproves tr:hover td{
    background-color: #f5f5f5 ; /* Cor de fundo quando hover */
    cursor: pointer; /* Altera o cursor para indicar interação */
}

.listaAproves td{
background-color:#ffff;
}

.contentEmpty {
    padding-left: 100px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 10px;
}

.checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 30px; /* Espaçamento à esquerda para a checkbox */
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; /* Largura da checkbox */
    height: 20px; /* Altura da checkbox */
    background-color: #eee; /* Cor de fundo da checkbox */
    border: 1px solid #ccc; /* Borda da checkbox */
    border-radius: 3px; /* Bordas arredondadas */
}

/* Estilo para quando a checkbox está marcada */
input[type="checkbox"]:checked + .checkbox-label .custom-checkbox::after {
    content: "\2713"; /* Unicode para marca de seleção */
    font-size: 14px;
    color: #337AB7; /* Cor da marca de seleção */
    position: absolute;
    top: 1px;
    left: 4px;
}

.popup-background {
    position: fixed; /* Posição fixa em relação à tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que a popup esteja na frente de outros elementos */
}

.popup-content {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.button-container {
    text-align: center;
}